@keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
        }
}
@-webkit-keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}
@-ms-keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}
@-moz-keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}

html{
	background: #000;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
nav{
    height:  30rem;
    background: url("./images/yasuko.jpeg");
    background-size: cover;
}
table.article{
    text-align: right;
}
table.article td{
    padding: .1rem .3rem;
}
table.article td.id,table td.num{
    text-align: center;
}
table.article td.title,table td.sum{
    text-align: left;
}
.container{
    width:  55%;
    margin: 0 auto;
    overflow: hidden;
}
.avatar{
    margin-top: 2rem;
    padding: 0rem;
}
.avatar a:hover{
    opacity: 0.7;
}
.avatar a{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    display: block;
}
.avatar a:focus{
    outline: none;
}
.avatar img{
    width:  2.5rem;
}
.blogname{
    padding-top: 12rem;
    margin-bottom: 0;
    font-size: 2.6rem;
}
.blogname a{
    text-decoration: none;
    color: #efefef;
}
.motto{
    margin-top: 1rem;
    color: #fff;
    font-size: 1.5rem;
}
.blogname,.motto{
    text-align: center;
    text-shadow: 0 .1rem .1rem #000;
    font-weight: 200;
    font-family: "Consolas","Youyuan",Helvetica,Arial,sans-serif;
}
.blogname:hover,.motto:hover{
    text-shadow: 0 .2rem .1rem #000;
}
.cmd{
    width: 95%;
    margin: 0 auto;
}
.cmd .cursor.blink {
    -webkit-animation: 1s blink infinite;
    animation: 1s blink infinite;
    -webkit-box-shadow: 0 0 0 rgba(0,100,0,50);
    box-shadow: 0 0 0 rgba(0,100,0,50);
    border: none;
    margin: 0;
    display: inline-block;
    width: 8px;
    margin-left: 1px;
}
.terminal{
	width: 90%;
    margin: 0 auto;
    padding: 0 30px;
	text-shadow: 0 0 3px rgba(0,100,0,50);
	color: #0c0;
    overflow: hidden;
    padding-top: 20px;
}
ul.cmd li{
    width: 95%;
    margin: 5px 0;
    line-height: 1;
    word-break: break-all;
}
ul.cmd li span:before{
    content: "->";
    margin-right: 3px;
    font-weight: 600;
}
ul.cmd li.output span:before{
   color: #090;
   content: "·>";
}
ul.cmd li span{
    word-break:break-all;
    width: inherit;
    line-height: 1.2;
    letter-spacing: 1px;
}
#getText{
    display: block;
    outline: none;
    resize: none;
    border: none;
    overflow: hidden;
    height: 100px;
    width: 100px;
    position: fixed;
    right: 0;
    bottom: 0;
}
#file{
    position: fixed;
    height: 0;
    bottom: 0;
}
.myinfo div.avatar{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: .2rem solid #fff;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 3rem;
}
.myinfo div.avatar img{
    width: 5rem;
}
ul.desc-tab{
    width: 100%;
    overflow: hidden;
    padding:0;
    padding-top: 1rem;
}
ul.desc-tab li{
    cursor: default;
    padding:.1rem 0;
    margin: 0;
    box-sizing: border-box;
    float: left;
    width: 25%;
    border-left: .1rem solid rgba(250,250,250, 0.9);
    border-right: .1rem solid rgba(250,250,250, 0.9);
    text-align: center;
    background: rgba(240,240,240, 0.7);
}