@keyframes blink {
  50% {
    color: #000;
    background: #0c0;
    -webkit-box-shadow: 0 0 5px rgba(0, 100, 0, 50);
    box-shadow: 0 0 5px rgba(0, 100, 0, 50);
  }
}

@-webkit-keyframes blink {
  50% {
    color: #000;
    background: #0c0;
    -webkit-box-shadow: 0 0 5px rgba(0, 100, 0, 50);
    box-shadow: 0 0 5px rgba(0, 100, 0, 50);
  }
}

@-ms-keyframes blink {
  50% {
    color: #000;
    background: #0c0;
    -webkit-box-shadow: 0 0 5px rgba(0, 100, 0, 50);
    box-shadow: 0 0 5px rgba(0, 100, 0, 50);
  }
}

@-moz-keyframes blink {
  50% {
    color: #000;
    background: #0c0;
    -webkit-box-shadow: 0 0 5px rgba(0, 100, 0, 50);
    box-shadow: 0 0 5px rgba(0, 100, 0, 50);
  }
}

@font-face {
  font-family: Exo-regular;
  src: url(font/Exo-Regular.otf);
}

@font-face {
  font-family: Exo-light;
  src: url(font/Exo-Light.otf);
}

@font-face {
  font-family: Exo-bold;
  src: url(font/Exo-Bold.otf);
}

@font-face {
  font-family: Exo-thin;
  src: url(font/Exo-Thin.otf);
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 100;
  src: local('Exo Thin'), local('Exo-Thin'), url(https://luoleiorg.b0.upaiyun.com/source/fonts/exo/ek6B72kladJz_Z6o5PEplKCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local('Exo Regular'), local('Exo-Regular'), url(https://luoleiorg.b0.upaiyun.com/source/fonts/exo/ZcGd2dvMSgl3mHN3lKAjNw.woff) format('woff');
}

@keyframes animate-bg {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 18% 18%;
  }
}


/******美化滚动条样式********/
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 3px;
  height: 16px;
  background-color: #f5f5f5;
}

/*定义滚动条的轨道，内阴影及圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  border-radius: 0px;
  background-color: #f5f5f5;
}

/*定义滑块，内阴影及圆角*/
::-webkit-scrollbar-thumb {
  /*width: 10px;*/
  height: 20px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

/******iconfont样式*********/
@font-face {
  font-family: 'iconfont';
  src: url('./font/iconfont.eot');
  src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./font/iconfont.woff') format('woff'),
    url('./font/iconfont.ttf') format('truetype'),
    url('./font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Exo', Exo, '-apple-system', 'Open Sans', HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

nav {
  height: 30rem;
  background-image: url("http://upy.iimt.me/2018/12/28/upload_cd74d873f9918b9d714ed3ea3cb90255.jpg");
  background-position: 100% 65%;
  background-size: cover;
}

table.article {
  text-align: right;
}

table.article td {
  padding: .1rem .3rem;
}

table.article td.id,
table td.num {
  text-align: center;
}

table.article td.title,
table td.sum {
  text-align: left;
}

a {
  text-decoration: none;
  color: #111;
}
a:visited {
  color: inherit;
}

.container {
  width: 55%;
  margin: 0 auto;
  overflow: hidden;
}

.avatar {
  margin-top: 2rem;
  padding: 0rem;
}

.avatar a:hover {
  opacity: 0.7;
}

.avatar a {
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
  display: block;
}

.avatar a:focus {
  outline: none;
}

.avatar img {
  width: 10rem;
}

.blogname {
  margin: 0;
  font-size: 5rem;
}

.blogname a {
  font-family: Exo-thin, '-apple-system';
  /* font-weight: bold; */
  text-decoration: none;
  color: #efefef;
}

.motto {
  font-family: Exo-thin, '-apple-system';
  margin-top: 2rem;
  color: #fff;
  font-size: 2rem;
}

.blogname,
.motto {
  text-align: center;
  text-shadow: 0 1px 1px #595959;
  font-weight: 200;
  font-family: "Consolas", "Youyuan", Helvetica, Arial, sans-serif;
}

.blogname:hover,
.motto:hover {
  text-shadow: 0 1px 1px #262626;
}

.cmd {
  width: 95%;
  margin: 0 auto;
}

.cmd .cursor.blink {
  -webkit-animation: 1s blink infinite;
  animation: 1s blink infinite;
  -webkit-box-shadow: 0 0 0 rgba(0, 100, 0, 50);
  box-shadow: 0 0 0 rgba(0, 100, 0, 50);
  border: none;
  margin: 0;
  display: inline-block;
  width: 8px;
  margin-left: 1px;
}

.terminal {
  width: 90%;
  margin: 0 auto;
  padding: 0 30px;
  text-shadow: 0 0 3px rgba(0, 100, 0, 50);
  color: #0c0;
  overflow: hidden;
  padding-top: 20px;
}

ul.cmd {
  overflow-y: auto;
}

ul.cmd li {
  width: 95%;
  margin: 5px 0;
  line-height: 1;
  word-break: break-all;
}

ul.cmd li span:before {
  content: "->";
  margin-right: 3px;
  font-weight: 600;
}

ul.cmd li.output span:before {
  color: #090;
  content: "·>";
}

ul.cmd li span {
  word-break: break-all;
  width: inherit;
  line-height: 1.2;
  letter-spacing: 1px;
}

#getText {
  display: block;
  outline: none;
  resize: none;
  border: none;
  overflow: hidden;
  height: 0;
  width: 1000px;
  position: fixed;
  left: 0;
  bottom: 20px;
  background: #000;
}

#file {
  position: fixed;
  height: 0;
  bottom: 0;
}

.myinfo div.avatar {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: .2rem solid #fff;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 2rem;
}

.myinfo div.avatar img {
  width: 7rem;
}

ul.desc-tab {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin-top: 8rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.desc-tab li {
  cursor: default;
  padding: .3rem 0;
  border-radius: 6px;
  flex: 1;
  margin: 0 1rem;
  box-sizing: border-box;
  float: left;
  min-height: 1.7rem;
  line-height: 1.9rem;
  text-align: center;
  background: rgba(250, 250, 250, 0.75);
  font-size: 1.4rem;
  color: #090909;
  cursor: pointer;
}

ul.desc-tab .li-menu {
  display: flex;
  flex-direction: column;
}

ul.desc-tab li a {
  text-decoration: none;
}

.banner-mask:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  transition: background-color .5s ease-out 2s;
  -webkit-animation-name: animate-bg;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  opacity: .25;
  background: url(images/escheresque_ste.png);
  background-color: rgba(0, 0, 0, .05);
}

.banner-mask {
  z-index: 0;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-mask .header {
  padding-top: 4rem;
  /* height: 100%; */
}

.art-card-container {
  overflow: hidden;
  background-size: cover;
  height: 50rem;
}

.article-list {
  position: relative;
  margin: 3rem auto;
}

footer {
  margin-top: 3rem;
  background: #111;
  padding: 0;
  overflow: hidden;
  padding-bottom: 1rem;
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  height: 4px;
}

footer p a {
  color: #ccc;
  text-shadow: 0 .1rem .1rem #565656;
  text-decoration: none;
}

.article-list .art-info {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fff;
  overflow: hidden;
  padding: .3rem 0rem;
  padding-top: 0rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  background: linear-gradient(to top,
    rgb(75, 75, 75),
    rgba(26, 26, 26, 0));
}

.article-list img.art-cover {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.art-info .art-viewed {
  padding-left: 1rem;
}

.art-info p {
  padding: 0 1rem;
  margin-bottom: .5rem;
}

.art-info p a {
  width: 100%;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
}

.art-info span {
  margin: .3rem .5rem;
  font-size: 1.5rem;
}

.art-info span a {
  color: #fff;
  background: #555;
  border-radius: .3rem;
  text-decoration: none;
  padding: 0 .3rem;
}

.art-info span a:hover {
  opacity: 0.9;
}

.art-info .art-info-detail {
  margin-bottom: 0rem;
}

ul.div-page {
  height: 3rem;
  padding: 0;
  margin: 1rem auto;
}

ul.div-page li {
  float: left;
  margin: 0 .3rem;
}

ul.div-page li a {
  display: block;
  padding: 1rem;
  font-size: 1.8rem;
  color: #000;
  text-decoration: none;
  background: #ccc;
  border-radius: .5rem;
}

ul.div-page li a:hover {
  background: #d9d9d9;
}

.article-nav {
  /* height: 50rem;*/
  height: inherit;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
  background-size: cover;
  background-position: 20% 30%;
}

.article-nav .home {
  margin-top: 5rem;
}

.article-nav .home a {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.8rem;
  background: #363636;
  display: block;
  color: #e9e9e9;
  overflow: hidden;
  font-size: 3rem;
}

.article-nav .home a:hover {
  opacity: 0.7;
}

.article-nav .home a img {
  width: 4.5rem;
}

.article-nav .titles {
  margin-top: 15rem;
}

.article-nav .titles p.title {
  color: #fff;
  font-size: 4rem;
  text-shadow: 0 2px 3px #595959;
}

.article-nav .titles p.detail span {
  margin: 0 1rem;
  color: #ffffff;
  font-size: 1.5rem;
  text-shadow: 0 1px 2px #595959;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.article-nav .titles p.detail .cate a {
  color: #f8f8f8;
  text-decoration: none;
  padding: .1rem .5rem;
  padding-right: .7rem;
  padding-left: .6rem;
  background: #565656;
  border-radius: .5rem;
  text-align: center;
  font-size: 1.3rem;
}

.article-nav .titles p.detail .cate a:hover {
  text-shadow: 0 1px 2px 3px #444;
  color: #f6f6f6;
}

article {
  margin: 4rem 0;
}

.admired {
  color: #ffffff;
  font-size: 3.3rem;
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  background: rgba(241, 196, 15, 1);
  border: .1rem solid rgb(250, 196, 15);
  line-height: 8rem;
}

img.admire {
  width: 25rem;
  display: block;
  margin: .5rem auto;
}

.like {
  width: 22rem;
  height: 6rem;
  line-height: 7rem;
  border: .1rem solid #ea6f5a;
  border-radius: 4rem;
  text-align: center;
  margin: 2rem auto;
  font-size: 3rem;
  color: #ea6f5a;
  cursor: pointer;
}

.like:hover {
  background: rgba(234, 111, 90, 0.1);
}

.like span {
  height: 3rem;
  display: inline-block;
  overflow: hidden;
  line-height: 4rem;
  font-size: 2rem;
}

.like .text {
  margin-right: 1rem;
}

.like .num {
  font-size: 2.3rem;
  padding-left: 1.2rem;
  border-left: .2rem solid #ea6f5a;
}

p.admired-tips {
  font-size: 1.3rem;
  text-align: center;
  border-bottom: .1rem dashed #ccc;
  padding-bottom: 1rem;
}

.aboutme img.avatar {
  display: block;
  width: 9rem;
  height: 9rem;
  margin: 0 auto;
  margin-top: 2rem;
  overflow: hidden;
  border-radius: 50%;
  border: .4rem solid #fff;
  box-shadow: 0 0 10px #ccc;
}

.aboutme .name {
  font-size: 2.5rem;
  padding-top: 2rem;
  margin-top: 0;
  padding-bottom: 1rem;
  margin-bottom: 0;
  text-align: center;
}

.aboutme .motto {
  width: 95%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.8rem;
  min-width: 20rem;
  line-height: 1.3;
  text-shadow: none;
  color: #000;
  margin-top: 1rem;
}

.social {
  width: 30rem;
  text-align: center;
  margin: 2rem auto;
}

.social svg {
  width: 5rem;
  padding: 0;
  margin: 0;
  font-size: 3rem;
  color: #000;
}

.social svg:hover {
  opacity: 0.8;
  color: #333;
}

form.comment {
  padding-top: 2rem;
  border-top: 1px solid #ccc;
}

form.comment div {
  margin: 1rem 0;
}

form.comment div span {
  width: 10rem;
  display: inline-block;
  font-size: 1.6rem;
}

form.comment div input {
  padding: .3rem;
}

form.comment div input:focus,
form.comment textarea:focus {
  outline: none;
}

form.comment textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  height: 8rem;
  padding: .8rem;
}

form.comment button {
  background: #43CD80;
  padding: .5rem .8rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: .5rem;
  color: #fff;
  margin-bottom: 2rem;
}

form.comment .status {
  float: right;
  line-height: 1;
  font-size: 1.3rem;
  margin-right: 2rem;
  padding: .5rem .8rem;
  margin-top: .8rem;
  font-weight: bold;
}

form.comment button:hover {
  opacity: 0.8;
}

.comment-list {
  clear: both;
  padding-left: 0;
  padding-top: 1rem;
}

.comment-list .count {
  width: 100%;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  border-bottom: .3rem solid #ccc;
}

.comment-list .count span {
  margin: 0;
  padding: .5rem;
  padding-bottom: .1rem;
  border-bottom: .3rem solid #43CD80;
}

.comment-list .divide {
  width: 20rem;
  height: .2rem;
  display: inline-block;
  background-color: red;
}

.comment-list li {
  padding: 1rem 0;
  border-bottom: .1rem dashed #ccc;
}

.comment-list a {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1rem 1rem 0 0;
  text-decoration: none;
  color: #000;
}

.comment-list a:visited {
  color: #000;
}

.comment-list .comment-con {
  margin-left: 5rem;
  font-size: 1.4rem;
}

.comment-list .time {
  color: #999;
}

.comment-list .comment-like {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}
.social a {
  color: #ccc;  text-decoration: none;

}
.social a i {
  font-size: 3rem;
  color: #333;
  margin: 0 1rem;
}

.art-info .art-cate a {
  line-height: 1.6rem;
  margin-left: .6rem;
  padding: 0 1rem;
  border-radius: .3rem;
  background: rgba(255,255,255,.3);
}

.load-more {
  transform: translateY(18px);
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
  width: 12rem;
  background: #ccc;
  border-radius: .5rem;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  color: #333;
  font-size: 1.7rem;
}
.load-more:hover {
  background: #d9d9d9;
}

/*响应式样式*/
@media screen and (max-width: 1400px) and (min-width: 900px) {
  .container {
    width: 70%;
  }
  ul.desc-tab {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 600px) {
  ul.desc-tab {
    margin-top: -1rem;
  }
  .container {
    width: 100%;
  }

  .article-list {
    margin: 5px auto;
  }

  .myinfo {
    display: none;
  }
  ul.desc-tab {
    flex-direction: column;
  }
  ul.desc-tab li {
    width: 10rem;
    margin: .4rem 0;
  }

  .fly-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    background: rgba(50, 50, 50, 0.7);
    border-radius: .2rem;
    font-size: 3.5rem;
    overflow: hidden;
    cursor: pointer;
  }

  .fly-to-top svg {
    margin: 0 auto;
    display: block;
    margin-top: 0.5rem;
    color: #fff;
  }

  .article-nav .home {
    margin-top: 0.5rem;
  }

  .article-nav .home a {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.4rem;
    margin-left: 0.5rem;
    background: rgba(94, 94, 94, 0.6);
    display: block;
    overflow: hidden;
  }

  .article-nav .home a img {
    width: 3.5rem;
  }

  article {
    width: 96%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .container {
    width: 90%;
  }
  ul.desc-tab {
    margin-top: 3rem;
  }
}